<%= form_with(model: quiz, local: true) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if quiz.grammar_id.nil? %>
    <div class="field">
      <%= form.label :dialect_id %>
      <%= form.collection_select :dialect_id, @dialects, :id, :name_en, {include_blank: 'None', selected: params[:dialect_id]}, {onChange: 'this.form.requestSubmit()', disabled: params[:dialect_id].present? } %>

      <% if @grammars.present? %>
        <%= form.label :grammar_id %>
        <%= form.select :grammar_id, @grammars.pluck(:description, :id) %>
      <% end %>
    </div>
  <% else %>
    <%= form.hidden_field :grammar_id, value: quiz.grammar_id %>
  <% end %>

  <div class="field">
    <%= form.label :tokyo %>
    <%= form.text_field :tokyo, placeholder: "そうだよ。" %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer, placeholder: "そうなんよ。" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <div>
    <button>
      <%= link_to 'Back', quizzes_path %>
    </button>
  </div>
<% end %>