<%= form_with(model: grammar, local: true) do |form| %>
  <% if grammar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grammar.errors.count, "error") %> prohibited this grammar from being saved:</h2>

      <ul>
        <% grammar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dialect_id %>
    <%= form.select :dialect_id, Dialect.order(:name_en).pluck(:name_en, :id), include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :commonness %>
    <%= form.select :commonness, (1..5), include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
