<p id="notice"><%= notice %></p>

<h1>Grammar page</h1>

<table>
  <thead>
    <tr>
      <th>Dialect</th>
      <th>Label</th>
      <th>Description</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grammars.each do |grammar| %>
      <tr>
        <td><%= grammar.dialect.name_en %></td>
        <td><%= grammar.label %></td>
        <td><%= grammar.description %></td>
        <td><%= grammar.position %></td>
        <td><%= link_to 'Show', grammar %></td>
        <td><%= link_to 'Edit', edit_grammar_path(grammar) %></td>
        <td><%= link_to 'Destroy', grammar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Go to new grammar',  new_grammar_path(dialect_id: @dialect&.id) %>