<p id="notice"><%= notice %></p>

<p>
  <strong>Dialect:</strong>
  <%= @grammar.dialect.name_en %>
</p>

<p>
  <strong>Dialect id:</strong>
  <%= @grammar.dialect_id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @grammar.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grammar.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @grammar.position %>

</p>
<p>
  <strong>Commonness:</strong>
  <%= @grammar.commonness %>
</p>

<p>
  <strong>Examples:</strong>
  <br>
  <% @grammar.examples.each do |example| %>
    <span>Sentence1: <%= example.sentence1 %></span>
    <span>Sentence2: <%= example.sentence2 %></span>
    <%= link_to "Edit", edit_example_path(example) %>
    <br>
  <% end %>
</p>

<%= render 'examples/form', example: @example%>

<%= link_to 'Add Example', new_example_path(grammar_id: @grammar.id) %> 

<p>
  <strong>Quizzes:</strong>
  <br>
  <% @grammar.quizzes.each do |quiz| %>
    <span>Tokyo: <%= quiz.tokyo %></span>
    <span>Answer: <%= quiz.answer %></span>
    <%= link_to "Edit", edit_quiz_path(quiz) %>
    <br>
  <% end %>
</p>

<%= render 'quizzes/form', quiz: @quiz%>

<br>
<%= link_to 'Edit', edit_grammar_path(@grammar) %> |
<%= link_to 'Back', grammars_path(dialect_id: @grammar.dialect_id) %>
