<p id="notice"><%= notice %></p>

<p>
  <strong>Dialect:</strong>
  <%= @grammar.dialect.name_en %>
</p>

<p>
  <strong>Dialect id:</strong>
  <%= @grammar.dialect_id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @grammar.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grammar.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @grammar.position %>
</p>

<p>
  <strong>Examples:</strong>
  <br>
  <% @grammar.examples.each do |example| %>
    <span><%= example.sentence1 %></span>
    <span><%= example.sentence2 %></span>
    <%= link_to "Edit", edit_example_path(example) %>
    <br>
  <% end %>
</p>



<%= link_to 'Add Example', new_example_path(grammar_id: @grammar.id) %> |
<%= link_to 'Edit', edit_grammar_path(@grammar) %> |
<%= link_to 'Back', grammars_path %>
