<%= form_with(model: example, local: true) do |form| %>
  <% if example.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(example.errors.count, "error") %> prohibited this example from being saved:</h2>

      <ul>
        <% example.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grammar_id %>
    <%= form.select :grammar_id, Grammar.order(:description).pluck(:description, :id), include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.select :language, [["Japanese", "jp" ], ["English", "en"]], include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :sentence1 %>
    <%= form.text_field :sentence1 %>
  </div>

  <div class="field">
    <%= form.label :sentence2 %>
    <%= form.text_field :sentence2 %>
  </div>

  <div class="field">
    <%= form.label :audio_clip %>
    <%= form.file_field :audio_clip %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>