<p id="notice"><%= notice %></p>

<p>
  <strong>Grammar id:</strong>
  <%= @example.grammar_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @example.language %>
</p>

<p>
  <strong>Sentence1:</strong>
  <%= @example.sentence1 %>
</p>

<p>
  <strong>Sentence2:</strong>
  <%= @example.sentence2 %>
</p>

<p>
  <strong>Audio:</strong>
  <% if @example.audio_clip.present?%>
    <%= audio_tag(url_for(@example.audio_clip), controls: true) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
