<%= form_with(model: dialect, local: true) do |form| %>
  <% if dialect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dialect.errors.count, "error") %> prohibited this dialect from being saved:</h2>

      <ul>
        <% dialect.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_en %>
    <%= form.text_field :name_en %>
  </div>

  <div class="field">
    <%= form.label :name_jp %>
    <%= form.text_field :name_jp %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.select :area, {"Hokkaido": 0, "Tohoku": 1, "Kanto": 2, "Chubu": 3,"Kinki": 4, "Chugoku": 5, "Shikoku": 6, "Kyushu": 7}, { include_blank: "Select area"}, {required: true} %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, :size=>"60x10" %>
  </div>

  <div class="field">
    <%= form.label :default_image %>
    <%= form.file_field :default_image %>
  </div>

  <div class="field">
    <%= form.label :start_btn_text %>
    <%= form.text_field :start_btn_text, placeholder: "はじめる" %>
  </div>

  <div class="field">
    <%= form.label :next_btn_text %>
    <%= form.text_field :next_btn_text, placeholder: "次へ進む"  %>
  </div>

  <div class="field">
    <%= form.label :complete_btn_text %>
    <%= form.text_field :complete_btn_text, placeholder: "できた"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
