<p id="notice"><%= notice %></p>

<p>
  <strong>Name en:</strong>
  <%= @dialect.name_en %>
</p>

<p>
  <strong>Name jp:</strong>
  <%= @dialect.name_jp %>
</p>

<p><strong>Default picture:</strong></p>
<% if @dialect.default_image.blank? %>
  <p><%= link_to 'Upload picture', edit_dialect_path(@dialect) %></p>
<% else %>
  <div>
    <%= image_tag(@dialect.default_image.variant(resize_to_limit: [300, 300])) %>
  </div>
<% end %>

<p>
  <strong>Start button text:</strong>
  <%= @dialect.start_btn_text %>
</p>

<p>
  <strong> Next button text:</strong>
  <%= @dialect.next_btn_text %>
</p>

<p>
  <strong> Complete button text:</strong>
  <%= @dialect.complete_btn_text %>
</p>

<p>
  <% if @dialect.place_infos.present? %>
    <strong> Place info:</strong>
    <% @dialect.place_infos.each do |place_info| %>
      <li><%= link_to "#{place_info.name_en}", place_info_path(place_info) %></li>
    <% end %>
  <% end%>
  <p><%= link_to 'Add place info', new_place_info_path(dialect_id: @dialect.id) %></p>

<%= link_to 'Edit', edit_dialect_path(@dialect) %> |
<%= link_to 'Back', dialects_path %>
