<p id="notice"><%= notice %></p>

<p>
  <strong>Name en:</strong>
  <%= @dialect.name_en %>
</p>

<p>
  <strong>Name jp:</strong>
  <%= @dialect.name_jp %>
</p>

<p>
  <strong>Start button text:</strong>
  <%= @dialect.start_btn_text %>
</p>

<p>
  <strong> Next button text:</strong>
  <%= @dialect.next_btn_text %>
</p>

<p>
  <strong> Complete button text:</strong>
  <%= @dialect.complete_btn_text %>
</p>

<%= link_to 'Edit', edit_dialect_path(@dialect) %> |
<%= link_to 'Back', dialects_path %>
