<%= form_with(model: place_info, local: true) do |form| %>

  <div class="field">
    <%= form.label :dialect_id %>
    <%= form.select :dialect_id, Dialect.order(:name_en).pluck(:name_en, :id), include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :name_en %>
    <%= form.text_field :name_en %>
  </div>

  <div class="field">
    <%= form.label :name_jp %>
    <%= form.text_field :name_jp %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, {"Restaurants": "Restaurants", "Museums": "Museums", "Scenery": "Scenery", "Districts": "Districts"}, { include_blank: "Select category"}, {required: true} %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, :size=>"60x10" %>
  </div>
  
  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :img_url, placeholder: "image url" %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>
  
  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longtitude %>
    <%= form.text_field :longtitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>