<p id="notice"><%= notice %></p>

<p>
  <strong>Name en:</strong>
  <%= @place_info.name_en %>
</p>

<p>
  <strong>Name jp:</strong>
  <%= @place_info.name_jp %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address %>
</p>

<%= link_to 'Edit', edit_place_info_path(@place_info) %>
<%= link_to 'back', place_info_path %>