<p id="notice"><%= notice %></p>

<p>
  <strong>Dialect:</strong>
  <%= @place_info.dialect.name_en %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @place_info.name_en %>
</p>

<p>
  <strong>Name jp:</strong>
  <%= @place_info.name_jp %>
</p>

<p>
  <strong>Category:</strong>
  <%= @place_info.category %>
</p>

<% (@place_info.images).each do |image| %>
  <div>
    <%= image_tag(image.variant(resize_to_limit: [300, 300])) %>
  </div>
<% end %>

<p>
  <strong>Address:</strong>
  <%= @address %>
</p>

<%= link_to 'Edit', edit_place_info_path(@place_info) %>
<%= link_to 'back', place_info_path %>